.sword-0 {
  object-position: 0px -448px;
}
.sword-1 {
  object-position: -64px -448px;
}
.sword-2 {
  object-position: -128px -448px;
}
.sword-3 {
  object-position: -192px -448px;
}
.sword-4 {
  object-position: -256px -448px;
}
.sword-5 {
  object-position: -320px -448px;
}
.sword-6 {
  object-position: -384px -448px;
}
.sword-7 {
  object-position: -448px -448px;
}
.axe-0 {
  object-position: 0px -512px;
}
.axe-1 {
  object-position: -64px -512px;
}
.axe-2 {
  object-position: -128px -512px;
}
.axe-3 {
  object-position: -192px -512px;
}
.axe-4 {
  object-position: -256px -512px;
}
.axe-5 {
  object-position: -320px -512px;
}
.axe-6 {
  object-position: -384px -512px;
}
.axe-7 {
  object-position: -448px -512px;
}
.throwing-0 {
  object-position: 0px -576px;
}
.throwing-1 {
  object-position: -64px -576px;
}
.throwing-2 {
  object-position: -128px -576px;
}
.bow-0 {
  object-position: 0px -640px;
}
.bow-1 {
  object-position: -64px -640px;
}
.bow-2 {
  object-position: -128px -640px;
}
.bow-3 {
  object-position: -192px -640px;
}
.bow-4 {
  object-position: -256px -640px;
}
.bomb-0 {
  object-position: 0px -704px;
}
.bomb-1 {
  object-position: -64px -704px;
}
.bomb-2 {
  object-position: -128px -704px;
}
.arrow-0 {
  object-position: 0px -768px;
}
.arrow-1 {
  object-position: -64px -768px;
}
.arrow-2 {
  object-position: -128px -768px;
}
.arrow-3 {
  object-position: -192px -768px;
}
.arrow-4 {
  object-position: -256px -768px;
}
.armour-0 {
  object-position: 0px -832px;
}
.armour-1 {
  object-position: -64px -832px;
}
.armour-2 {
  object-position: -128px -832px;
}
.armour-3 {
  object-position: -192px -832px;
}
.armour-4 {
  object-position: -256px -832px;
}
.armour-5 {
  object-position: -320px -832px;
}
.armour-6 {
  object-position: -384px -832px;
}
.armour-7 {
  object-position: -448px -832px;
}
.helmet-0 {
  object-position: 0px -896px;
}
.helmet-1 {
  object-position: -64px -896px;
}
.helmet-2 {
  object-position: -128px -896px;
}
.helmet-3 {
  object-position: -192px -896px;
}
.helmet-4 {
  object-position: -256px -896px;
}
.helmet-5 {
  object-position: -320px -896px;
}
.helmet-6 {
  object-position: -384px -896px;
}
.helmet-7 {
  object-position: -448px -896px;
}
.shield-0 {
  object-position: 0px -960px;
}
.shield-1 {
  object-position: -64px -960px;
}
.shield-2 {
  object-position: -128px -960px;
}
.shield-3 {
  object-position: -192px -960px;
}
.shield-4 {
  object-position: -256px -960px;
}
.shield-5 {
  object-position: -320px -960px;
}
.shield-6 {
  object-position: -384px -960px;
}
.shield-7 {
  object-position: -448px -960px;
}
.staff-0 {
  object-position: 0px -1024px;
}
.staff-1 {
  object-position: -64px -1024px;
}
.staff-2 {
  object-position: -128px -1024px;
}
.staff-3 {
  object-position: -192px -1024px;
}
.staff-4 {
  object-position: -256px -1024px;
}
.staff-5 {
  object-position: -320px -1024px;
}
.staff-6 {
  object-position: -384px -1024px;
}
.staff-7 {
  object-position: -448px -1024px;
}
